* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Alef, sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #003366;
}

input, button {
    padding: 8px 12px;
    margin: 0 5px 5px 5px;
}

label {
    margin-left: 5px;
}

button {
    background-color: #003366;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004c99;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* Player setup */
.player-setup {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

/* Placement */
#placement-info, #game-info {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    color: #003366;
}

.fleet-info {
    max-width: 300px;
    margin: 15px auto;
    padding: 10px;
    background-color: #e6f2ff;
    border-radius: 5px;
}

.fleet-info ul {
    list-style-type: none;
    padding-left: 10px;
}

.placement-hover {
    background-color: #80ff80!important;
}

.placement-invalid {
    background-color: #ff8080!important;
}

/* Game board */
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 300px;
    height: 300px;
    border: 2px solid #003366;
    margin: 10px auto;
}

.cell {
    border: 1px solid #aaccee;
    background-color: #e6f2ff;
    transition: background-color 0.1s;
}

.cell:hover {
    background-color: #cce6ff;
    cursor: pointer;
}

/* Game */

.ship {
    background-color: #808080!important;
}

/* Battle */
.board-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.player-board {
    margin: 0 20px;
}

.ship-counter {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.hit {
    background-color: #ff6666!important;
    position: relative;
}

.hit::after {
    content: "×";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}

.miss {
    background-color: #99ccff!important;
    position: relative;
}

.miss::after {
    content: "•";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}

#game-over-screen {
    text-align: center;
}

#winner-info {
    font-size: 1.2em;
    margin: 20px 0;
}

#restart-btn {
    font-size: 1.1em;
    padding: 10px 20px;
}
